<app-modal
  [active]="modal.active"
  [data]="modal.data"
  (confirmed)="modalConfirmed($event)"
  (denied)="modalDenied($event)"
>
</app-modal>
<div class="random-actions">
  <span class="title">Incidents</span>
  <app-dropdown
    *ngIf="isAdmin"
    [(choice)]="selectedBase"
    label="Base"
    [options]="bases"
    key="value"
    (selectedDropdownItem)="selectBase($event)"
  ></app-dropdown>
  <app-dropdown
    [(choice)]="selectedYear"
    label="Year"
    [options]="[
      { name: 'Current Year', value: 'current' },
      { name: 'Previous Years', value: 'previous' }
    ]"
    key="name"
    (selectedDropdownItem)="selectYear($event)"
  ></app-dropdown>
</div>
<app-table
  class="incidents-table"
  hasActions="true"
  [settings]="settings"
  [rows]="incidents"
  [columns]="headings"
  (deleted)="confirmDeleteIncident($event)"
></app-table>
