<div class="sidenav" [ngClass]="expanded ? 'expanded' : ''">
  <div [ngClass]="selected === item.name ? 'selected' : ''" class="item" *ngFor="let item of menuItems">
    <div (click)="select(item)" class="item-container">
      <div class="name">{{item.name}}</div>
      <div *ngIf="item.hasItems" class="expand-button" [ngClass]="item.expanded ? 'expanded' : ''">
        <svg focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <path d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z"></path>
        </svg>
      </div>
    </div>
    <div *ngIf="item.expanded" class="subitems">
      <div *ngFor="let subitem of item.items" class="subitem">
        {{subitem.name}}
      </div>
    </div>
  </div>
</div>
