.sidenav {
  user-select: none;
  width: 0;
  height: calc(100% - 89px);
  position: absolute;
  z-index: 10;
  left: 0;
  top: 64px;
  box-shadow: transparent 0 0 0 0;
  text-align: center;
  overflow-x: hidden;
  transition: all 0.33s ease;
  padding-top: 25px;
  opacity: 0;
  .item {
    font-size: 14px;
    width: 100%;
    display: flex;
    cursor: pointer;
    min-height: 48px;
    justify-content: space-between;
    flex-direction: column;

    .item-container {
      white-space: nowrap;
      flex-wrap: wrap;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .name {
        position: relative;
        height: 48px;
        left: 25px;
        width: 50%;
        text-align: left;
        display: flex;
        align-items: center;
      }

      &:hover {
        color: #006632;
      }

      .expand-button {
        height: 48px;
        text-align: right;
        position: relative;
        right: 25px;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        &.expanded {
          transform: rotate(180deg);
          justify-content: flex-start;
        }

        svg {
          height: 20px;
        }
      }
    }

    &:hover {
      background: #ededed;

      .subitem {
        background: white;
      }
    }

    &.selected {
      background: #006632;
      color: white;
      font-weight: bold;

      &:hover {
        .name {
          color: white;
        }
      }
    }

    .subitem {
      position: relative;
      padding-left: 40px;
      min-height: 48px;
      display: flex;
      width: 100%;
      align-items: center;
      cursor: pointer;

      &:hover {
        background: #ededed;
        color: #006632;
      }

      &.selected {
        background: #006632;
        color: white;
        font-weight: bold;
      }
    }
  }

  &.expanded {
    width: 250px;
    box-shadow: gray 0 6px 5px 5px;
    opacity: 1;
  }
}
