.navbar {
  user-select: none;
  width: 100%;
  height: 44px;
  position: absolute;
  z-index: 10;
  top: 20px;
  left: 0;
  background: #006631;
  box-shadow: #242424 0px 5px 5px 0px;
  display: flex;
  align-items: center;
  color: white;
  overflow: hidden;
  .menu-button {
    position: absolute;
    font-size: 24px;
    cursor: pointer;
    padding: 8px 30px;
    line-height: 0;
  }
  .logout-button {
    position: absolute;
    right: 110px;
    cursor: pointer;
    padding: 15px;
  }
  .version {
    position: absolute;
    right: 10px;
  }
  .logo {
    position: absolute;
    margin-left: 0px;
    img {
      padding: 10px;
      height: 32px;
    }
    &.left {
      left: 70px;
    }
    &.right {
      right: 60px;
    }
  }
  .title {
    position: absolute;
    left: 140px;
  }
  .background-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    overflow: hidden;
    img {
      min-height: 64px;
      opacity: 0.33;
      width: 100%;
    }
  }
}
.fs-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20px;
  background: #ededed;
  color: black;
  font-weight: bold;
  font-size: 11px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  div {
    display: flex;
    align-items: center;
  }
  .flag {
    height: 16px;
    margin-left: 15px;
    margin-right: 15px;
  }
  .usda {
    height: 20px;
    position: relative;
    left: 28px;
  }
  .usda-text {
    position: relative;
    left: 45px;
    font-size: 13px;
    color: #1e5530;
    font-weight: bold;
  }
}
