.navbar {
  width: 100%;
  height: 64px;
  position: absolute;
  top: 0;
  left: 0;
  background: #006631;
  box-shadow: gray 0px 0px 5px 5px;
  display: flex;
  align-items: center;
  color: white;
  overflow: hidden;
  .menu-button {
    position: absolute;
    font-size: 24px;
    cursor: pointer;
    padding: 8px 30px;
    // border-right: 1px solid white;
  }
  .logout-button {
    position: absolute;
    right: 15px;
    font-size: 28px;
    cursor: pointer;
    padding: 15px;
  }
  .logo {
    position: absolute;
    margin-left: 0px;
    img {
      padding: 10px;
      height: 44px;
    }
    &.left {
      left: 80px;
    }
    &.right {
      right: 60px;
    }
  }
  .title {
    position: absolute;
    left: 180px;
  }
  .background-image {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
}
