.form {
  div:first-child {
    border-bottom: none;
  }

  .split {
    display: flex;
    height: 50%;
    overflow: hidden;
    .left-section {
      width: 40%;
    }
    .right-section {
      overflow: overlay;
      width: 40%;
      padding: 20px;
      border: 1px solid black;
      border-radius: 3px;
      height: 70%;
      position: relative;
      padding-top: none;
      top: 10%;
      .jumper {
        &.datum {
          width: 90%;
          margin: 20px 0px;
          justify-content: space-between;
        }
        .checkbox-container {
          display: flex;
          align-items: center;
          input[type='checkbox'] {
            width: 15px;
            height: 15px;
            margin-right: 10px;
          }
        }
      }
    }
  }
}
