.filter-container {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.row {
  display: flex;
  width: calc(100% - 20px);
  height: 55px;
  justify-content: space-evenly;
  border-bottom: 1px solid green;
  align-items: center;
  background: white;
  padding-left: 20px;
}

.headers {
  border-top: 1px solid green;
}

.header {
  width: 25%;
  font-weight: bold;
  min-width: 150px;
  text-align: left;
  color: gray;
}

.cell {
  width: 25%;
  min-width: 150px;
  text-align: left;
}

.base {
  position: absolute;
  left: 200px;
  top: 38px;
}

.user-table {
  height: calc(100% - 99px);
  overflow: auto;
}

.updating {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .progress-bar {
    height: 70px;
    width: 200px;
    border: 2px solid green;
    border-radius: 2px;
    .progress {
      height: 100%;
      background: #47a347;
    }
  }
}
