.filter-container {
  display: flex;
  justify-content: space-between;
  margin: 20px 20px;
}
.row {
  display: flex;
  width: 100%;
  height: 80px;
  justify-content: space-evenly;
  border-bottom: 1px solid green;
  align-items: center;
  background: white;
}
.headers {
  border-top: 1px solid green;
}
.header {
  font-weight: bold;
  min-width: 150px;
  text-align: left;
  color: gray;
}
.cell {
  min-width: 150px;
  text-align: left;
}
.base {
  position: absolute;
  left: 200px;
  top: 38px;
}
