.modal-background {
  position: absolute;
  z-index: -499;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.5;
  &.active {
    z-index: 499;
  }
}
.modal {
  position: absolute;
  z-index: -500;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  background: white;
  border-radius: 3px;
  &.active {
    z-index: 500;
  }
  .content {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .buttons {
    display: flex;
    justify-content: space-evenly;
  }
}
