.register-form {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid darkgreen;
  app-dropdown {
    margin-bottom: 30px;
  }
}
