.content-header {
  width: 100%;
  height: 115px;
  background-image: url('/assets/images/dashBanner.png');
  background-size: cover;
  background-position: top right;
}
.dashboard-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 90%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  .card {
    box-shadow: grey 1px 2px 2px 1px;
    cursor: pointer;
    width: 28%;
    height: 100px;
    background: #006632;
    margin: 10px;
    padding: 10px;
    border-radius: 4px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    .title {
      font-size: 18px;
      font-weight: bold;
    }
    .description {
      font-size: 14px;
    }
  }
}
