.viewport {
  position: absolute;
  top: 64px;
  width: calc(100% - 252px);
  height: calc(100% - 64px);
  left: 250px;
  transition: all 0.33s ease;
  &.fullwidth {
    left: 0px;
    width: calc(100% - 2px);
  }
}
