.viewport {
  background: #ededed;
  position: absolute;
  top: 64px;
  width: calc(100% - 250px);
  height: calc(100% - 64px);
  left: 250px;
  transition: all 0.33s ease;
  &.fullwidth {
    left: 0px;
    width: 100%;
  }
}
