<app-modal
  [active]="modal.active"
  [data]="modal.data"
  (confirmed)="modalConfirmed($event)"
  (denied)="modalDenied($event)"
>
</app-modal>
<div class="form">
  <div class="section-container" *ngFor="let section of sections">
    <div class="title">
      <span>{{ section.title }}</span>
    </div>
    <div class="content">
      <div class="datum" *ngFor="let datum of section.data">
        <div class="input-container">
          <span *ngIf="datum.input" class="input-label"
            >{{ datum.placeholder }}:
          </span>
          <!-- text input -->
          <input
            type="text"
            [name]="datum.key"
            *ngIf="datum.input && datum.type !== 'date'"
            [placeholder]="datum.placeholder"
            [(ngModel)]="data[datum.key]"
          />
          <!-- datepicker -->
          <input
            type="date"
            [name]="datum.key"
            *ngIf="datum.type === 'date'"
            [(ngModel)]="data[datum.key]"
          />
          <!-- dropdown -->
          <app-dropdown
            [(choice)]="datum.choice"
            *ngIf="datum.dropdown"
            [label]="datum.label"
            [options]="datum.options"
            key="name"
            (selectedDropdownItem)="onSelectedDropdownItem($event, datum)"
          ></app-dropdown>
        </div>
      </div>
    </div>
  </div>
  <!-- add jumper section -->
  <div class="section-container" *ngIf="mode === 'Update'">
    <div class="title">
      <span>Incident Jumpers</span>
    </div>
    <div *ngIf="incidentJumpers.length > 0" class="incident-jumpers">
      <div
        class="incident-jumper"
        *ngFor="let jumper of incidentJumpers; index as i"
      >
        <div class="remove-jumper-button">
          <span (click)="confirmDeleteJumper(jumper, i)">X</span>
        </div>
        <div>{{ jumper.jumperName }} | {{ jumper.Base }}</div>
      </div>
    </div>
    <!-- add incident jumper subform -->
    <div class="content incident-jumper-subform">
      <div class="datum">
        <app-dropdown
          label="Base"
          [options]="bases"
          key="text"
          (selectedDropdownItem)="selectBase($event)"
        ></app-dropdown>
      </div>
      <div class="datum">
        <app-dropdown
          label="Jumpers"
          [options]="jumpers"
          key="friendly"
          (selectedDropdownItem)="selectJumper($event)"
        ></app-dropdown>
      </div>
      <div class="datum">
        <input
          type="date"
          [(ngModel)]="jumperArrivalDate"
          placeholder="Arrival Date"
        />
        <input
          type="date"
          [(ngModel)]="jumperReturnDate"
          placeholder="Return Date"
        />
      </div>
      <div class="datum">
        <app-button
          text="Add Jumper"
          (clicked)="selectedJumper ? addJumper() : ''"
          class="add-jumper-button"
        ></app-button>
      </div>
    </div>
  </div>
  <div class="section-container">
    <div class="title">
      <span>Notes</span>
    </div>
    <div class="content">
      <div class="datum">
        <textarea
          [(ngModel)]="data._notes"
          placeholder="Enter notes here"
        ></textarea>
      </div>
    </div>
  </div>
  <div class="section-container submit-button-container">
    <app-button
      [text]="mode"
      (clicked)="submitForm($event)"
      class="new-incident-button"
    ></app-button>
  </div>
</div>
