.new-incident-form {
  background: white;
  height: 50%;
  width: 500px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 2px 2px 5px 5px lightgray;
  padding: 25px;
}
