.form {
  position: absolute;
  overflow: overlay;
  box-shadow: 2px 2px 5px 5px lightgray;
  background: white;
  height: 100%;
  width: 100%;
  .section-container {
    margin: 0px 30px;
    padding: 30px 0px 60px 0px;
    border-bottom: 4px solid #006632;
    &:last-child {
      border-bottom: none;
    }
  }
  .title {
    margin-bottom: 30px;
    span {
      font-size: 24px;
      color: #005d29;
    }
  }
  .content {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    &.incident-jumper-subform {
      border: 1px solid #006632;
      border-radius: 3px;
      .datum {
        padding: 0px 40px;
      }
    }
  }
  .incident-jumpers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .incident-jumper {
      display: flex;
      flex-direction: column;
      width: 40%;
      flex-wrap: wrap;
      margin-bottom: 25px;
      box-shadow: 0px 0px 3px 4px lightgrey inset;
      padding: 0px 20px 20px 20px;
      border: 1px solid gray;
      border-radius: 3px;
      .remove-jumper-button {
        text-align: right;
        position: relative;
        top: 10px;
        right: -5px;
        span {
          cursor: pointer;
        }
      }
    }
  }
  .datum {
    min-height: 25px;
    margin: 20px 0px;
    width: calc(100% - 40px);
    display: flex;
    align-items: center;
  }
  .input-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    .input-label {
      color: #090909;
      white-space: nowrap;
      font-size: 14px;
      margin-right: 15px;
    }
    input {
      user-select: none;
      border: none;
      border-bottom: 1px solid black;
      outline: none;
    }
  }
}
textarea {
  width: 100%;
  height: 200px;
}
app-button {
  position: relative;
  padding-bottom: 30px;
  display: flex;
}
app-dropdown {
  position: relative;
  top: 0px;
}
.submit-button-container {
  display: flex;
  justify-content: center;
}
.add-jumper-button {
  position: absolute;
  right: 50px;
}
.required-asterisk {
  color: red;
  position: relative;
  left: 5px;
  top: -2px;
}
