<div class="combobox-container">
  <span *ngIf="!searching" class="label">{{ label }}: </span>
  <span
    (click)="showMenu()"
    [ngClass]="searching ? 'hidden' : ''"
    class="value"
  >
    {{ choice[key] }}</span
  >
  <input
    *ngIf="searching"
    (keyup)="onKey($event)"
    type="text"
    [placeholder]="label"
    [(ngModel)]="query"
  />
  <div class="dropdown-container">
    <div class="dropdown">
      <svg
        class="value"
        (click)="showMenu()"
        focusable="false"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
      >
        <path
          d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z"
        ></path>
      </svg>
    </div>
    <div class="menu" *ngIf="showingMenu && options && options.length">
      <span (click)="select(option)" *ngFor="let option of options">{{
        option[key]
      }}</span>
    </div>
  </div>
</div>
