.combobox-container {
  position: relative;
  top: 5px;
  display: flex;
  .dropdown-container {
    position: relative;
    .menu {
      position: absolute;
      z-index: 200;
      width: 200px;
      background: white;
      color: #006632;
      text-align: center;
      border-radius: 4px;
      box-shadow: 0px 0px 8px 1px #042c17;
      align-items: center;
      left: -152px;
      max-height: 400px;
      overflow: auto;
      top: 33px;
    }
  }
  span.value {
    cursor: pointer;
    position: relative;
    top: -3px;
    font-size: 14px;
    text-decoration: underline;
    &.hidden {
      display: none;
      width: 0;
      height: 0;
      z-index: -1;
    }
  }
}
