.toast-wrapper {
  position: fixed;
  bottom: 20px;
  left: 50%;
  padding: 20px 0px;
  border-radius: 5px;
  min-width: 25%;
  transform-origin: center center;
  transform: translate(-50%, 0%);
  &.success {
    background: #006632;
  }
  &.danger {
    background: red;
  }
  &.info {
    background: lightblue;
    .toast-text {
      color: black;
    }
  }
  &.warning {
    background: yellow;
    .toast-text {
      color: black;
    }
  }
  .toast-text {
    text-align: center;
    font-size: 1.3em;
    color: white;
    margin: 0;
  }
}
