.toast-wrapper {
  position: fixed;
  top: 100px;
  right: 0;
  padding: 5px;
  border-radius: 5px;
  min-width: 20%;
  transform-origin: center center;
  z-index: 1;
  transform: translate(-10%, 10%);
  &.success {
    background: #ffffff;
    border-left: 5px solid #006632;
    color: #006632;
    box-shadow: 1px 0px 4px #006632;
  }
  &.error {
    background: #ffffff;
    border-left: 5px solid rgb(190, 12, 12);
    color: rgb(190, 12, 12);
    box-shadow: 1px 0px 4px rgb(190, 12, 12);
  }
  &.info {
    background: #ffffff;
    border-left: 5px solid rgb(12, 125, 160);
    color: rgb(12, 125, 160);
    box-shadow: 1px 0px 4px rgb(12, 125, 160);
  }
  &.warning {
    background: #ffffff;
    border-left: 5px solid #df954b;
    color: #df954b;
    box-shadow: 1px 0px 4px #df954b;
  }
  .toast-message-container {
    display: inline-block;
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
  }

  .icon {
    font-size: 1.3em;
    position: absolute;
    left: 0;
    top: 0;
    margin: 5px 0px 0px 5px;
  }

  .toast-header {
    padding: 0.3em;
    font-size: 1.1em;
    margin-left: 20px;
  }

  .toast-message {
    padding: 0.3em;
    font-size: 0.8em;
    margin-left: 22px;
  }

  .close-toast {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.7;
    cursor: pointer;
    border-radius: 50%;
    padding: 5px;
    font-size: 1.2em;
  }

  .close-toast:hover {
    background-color: rgba(211, 206, 206, 0.2);
    opacity: 1;
  }
}
