<div class="form">
  <div class="section-container">
    <div class="title">
      <span>Transfer Jumper</span>
    </div>
    <div class="content">
      <div class="datum">
        <app-dropdown label="Base" [options]="bases" key="value" (selectedDropdownItem)="selectBase($event)"></app-dropdown>
        </div>
      <div class="datum">
        <app-combobox [(choice)]="selectedJumper.name" label="Select Jumper" [options]="jumpers" key="name" (selectedComboboxItem)="selectJumper($event)"></app-combobox>
        <span class="required-asterisk">*</span>
      </div>
    </div>
  </div>
  <div class="section-container submit-button-container">
    <app-button [disabled]="!selectedJumper" [text]="buttonText" (clicked)="transferJumper($event)"></app-button>
  </div>
</div>
