.dropdown-wrapper {
  position: relative;
  width: 16em;
}
.dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
  border-width: 0 1px 0 1px;
  border-style: solid;
  border-color: #006632;
}
.dropdown-inner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 22px;
  font-size: 16px;
  height: 40px;
  cursor: pointer;
  border-width: 1px 0 1px 0;
  border-style: solid;
  border-color: #006632;
}
.dropdown-options {
  height: 150px;
  background: white;
  display: block;
  border-bottom: 1px solid #006632;
  border-top: 0;
  overflow: auto;
}
.dropdown-option {
  position: relative;
  display: block;
  padding: 0 22px 0 22px;
  font-size: 16px;
  line-height: 30px;
  cursor: pointer;
}
.dropdown-option:hover {
  cursor: pointer;
  background-color: #b2b2b2;
  transition: 0.4s ease;
}

// Arrow CSS
.arrow {
  position: relative;
  height: 15px;
  width: 15px;
}
.arrow::before,
.arrow::after {
  content: '';
  position: absolute;
  bottom: 0px;
  width: 0.15rem;
  height: 100%;
  transition: all 0.5s;
}
.arrow::before {
  left: -5px;
  transform: rotate(45deg);
  background-color: #394a6d;
}
.arrow::after {
  left: 5px;
  transform: rotate(-45deg);
  background-color: #394a6d;
}
.open .arrow::before {
  left: -5px;
  transform: rotate(-45deg);
}
.open .arrow::after {
  left: 5px;
  transform: rotate(45deg);
}

// Scrollbar

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #006632;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #013319;
}
