.label {
  font-size: 18px;
  margin-right: 20px;
  position: relative;
  top: -2px;
}
.dropdown {
  position: absolute;
  display: flex;
  align-items: center;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  .value {
    font-size: 20px;
    padding-bottom: 5px;
    text-decoration: underline;
  }
  svg {
    width: 20px;
    position: relative;
    left: 5px;
    top: -3px;
  }
}
.menu {
  position: absolute;
  z-index: 200;
  width: 200px;
  display: flex;
  flex-direction: column;
  background: white;
  color: #006632;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0px 0px 8px 1px #042c17;
  justify-content: center;
  align-items: center;
  left: 50%;
  transform: translateX(-50%);
  span {
    white-space: nowrap;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    min-width: 100px;
    width: 100%;
    cursor: pointer;
    position: relative;
    &:hover {
      background: #006632;
      color: white;
    }
  }
}
