@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/Roboto-Regular.ttf') format('truetype');
}

body {
  font-family: Roboto;
}

.required-asterisk {
  color: red;
  position: relative;
  top: -2px;
}

.random-actions {
  width: 100%;
  height: 50px;
  background: white;
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  app-dropdown {
    margin-right: 75px;
    margin-left: 50px;
    position: relative;
    top: 3px;
  }
  .title {
    color: green;
    margin-left: 20px;
  }
}
