@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/Roboto-Regular.ttf') format('truetype');
}

body {
  font-family: Roboto;
}

.required-asterisk {
  color: red;
  position: relative;
  left: 5px;
  top: -2px;
}
