.form {
  .section-container {
    margin: 0px 30px;
    padding: 30px 0px 60px 0px;
    border-bottom: 4px solid #006632;
  }
  .title {
    margin-bottom: 30px;
    span {
      font-size: 24px;
      color: #005d29;
    }
  }
  background: white;
  height: 100%;
  width: 100%;
  .content {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
  }
  .datum {
    margin: 20px 0px;
    width: calc(100% - 40px);
    display: flex;
    align-items: center;
  }
  .input-container {
    // width: 100%;
    display: flex;
    flex-direction: column;
    .input-label {
      font-size: 14px;
      margin-bottom: 5px;
    }
    input {
      color: #858585;
      user-select: none;
      width: 75%;
      border: none;
      border-bottom: 1px solid black;
      padding: 10px 0px;
      outline: none;
    }
  }
}
app-button {
  position: relative;
  padding-bottom: 30px;
  display: flex;
}
app-dropdown {
  position: relative;
  top: 0px;
}
