.form {
  .section-container {
    margin: 0px 30px;
    padding: 30px 0px 60px 0px;
    border-bottom: 1px solid #006632;
  }
  .title {
    span {
      font-size: 24px;
      color: #005d29;
    }
  }
  background: white;
  height: 100%;
  width: 100%;
  .content {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
  }
  .datum {
    margin: 20px;
    width: calc(50% - 40px);
    min-height: 50px;
    display: flex;
    align-items: center;
  }
  input {
    padding: 10px 10px;
    outline: none;
  }
}
app-button {
  position: relative;
  padding-bottom: 30px;
  display: flex;
}
app-dropdown {
  position: relative;
  top: -15px;
}
