.form {
  .title {
    span {
      font-size: 24px;
      color: #005d29;
    }
  }
  background: white;
  height: 100%;
  width: 100%;
  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    position: relative;
    width: 100%;
  }
  .datum {
    width: 50%;
    height: 25%;
    display: flex;
    align-items: center;
  }
  input {
    padding: 10px 10px;
    outline: none;
  }
}
.buttons {
  position: relative;
  bottom: -75px;
  display: flex;
  justify-content: space-evenly;
}
