.clickmask {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -500;
  width: 0%;
  height: 0%;
  background: rgba(0, 0, 0, 0.25);
  &.active {
    width: 100%;
    height: 100%;
    z-index: 150;
  }
}
.menu {
  position: relative;
  z-index: 200;
  width: 200px;
  display: flex;
  flex-direction: column;
  background: white;
  color: #006632;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0px 0px 8px 1px #042c17;
  justify-content: center;
  align-items: center;
  span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    min-width: 100px;
    width: 100%;
    cursor: pointer;
    &:hover {
      background: #006632;
      color: white;
    }
  }
}
