.request-report-form {
  background: white;
  position: absolute;
  top: 40%;
  left: 50%;
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  transform: translate(-50%, -50%);
  border: 1px solid #006631;
  padding: 50px;
  border-radius: 4px;
  box-shadow: grey 2px 4px 6px 1px;
  .report-name {
    position: absolute;
    z-index: 1;
    top: 30px;
    left: 25px;
    font-size: 24px;
    color: #006632;
  }
}
.buttons {
  position: absolute;
  bottom: -140px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  width: 100%;
  justify-content: center;
}
.generate-report-button {
  margin: 10px;
}
.return-to-dashboard-button {
  margin: 10px;
}
app-dropdown {
  height: 50px;
}

.reports-dashboard {
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: overlay;
  .reports-container {
    padding-bottom: 40px;
  }
  .card {
    display: flex;
    width: 275px;
    border-radius: 4px;
    background: white;
    color: #006632;
    height: 80px;
    margin-bottom: 10px;
    box-shadow: 1px 2px 2px 2px grey;
    align-items: center;
    padding-left: 20px;
    font-weight: bold;
    &.report {
      cursor: pointer;
    }
  }
  .daily-reports {
    position: relative;
    top: 50px;
    .daily-title {
      background: #006632;
      color: white;
      margin-bottom: 50px;
    }
  }
  .annual-reports {
    position: relative;
    top: 50px;
    .annual-title {
      background: #006632;
      color: white;
      margin-bottom: 50px;
    }
  }
}
