.clickmask {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -500;
  width: 0%;
  height: 0%;
  background: rgba(0, 0, 0, 0.25);
  &.active {
    width: 100%;
    height: 100%;
    z-index: 150;
  }
}
.request-report-form {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  transform: translate(-50%, -50%);
  border: 1px solid #006631;
  padding: 50px;
  border-radius: 4px;
  box-shadow: grey 2px 4px 6px 1px;
  .report-name {
    position: absolute;
    top: 25px;
    left: 25px;
    font-size: 18px;
    color: #006632;
  }
}
.menu {
  position: relative;
  z-index: 200;
  width: 200px;
  display: flex;
  flex-direction: column;
  background: white;
  color: #006632;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0px 0px 8px 1px #042c17;
  justify-content: center;
  align-items: center;
  span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    min-width: 100px;
    width: 100%;
    cursor: pointer;
    &:hover {
      background: #006632;
      color: white;
    }
  }
}
