.request-report-form {
  background: white;
  position: absolute;
  top: 40%;
  left: 50%;
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  transform: translate(-50%, -50%);
  border: 1px solid #006631;
  padding: 50px;
  border-radius: 4px;
  box-shadow: grey 2px 4px 6px 1px;
  .report-name {
    position: absolute;
    top: 75px;
    left: 50%;
    font-size: 24px;
    color: #006632;
  }
}
.generate-report-button {
  position: absolute;
  bottom: -150px;
  left: 50%;
  transform: translateX(-50%);
}
