.table {
  .row {
    user-select: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 55px;
    border: 1px solid gray;
    border-top: none;
    box-shadow: 0px -2px 8px 1px lightgrey inset;
    transition: all 0.1s ease;
    .cell {
      width: 100%;
      text-align: left;
      color: #525252;
      font-size: 14px;
    }
    div:first-child {
      padding-left: 20px;
    }
    .heading {
      font-size: 16px;
      color: black;
      font-weight: bold;
    }
    .menu-button,
    .settings-button {
      font-weight: bold;
      font-size: 20px;
      cursor: pointer;
      padding: 0px 40px;
    }
    .menu-button {
      opacity: 0;
      transition: all 0.33s ease;
    }
    &:hover {
        background: #ededed;
        color: #006632;
      .menu-button {
        opacity: 1;
      }
    }
    &.headings {
      &:hover {
        background: white;
      }
    }
    &.selected {
      box-shadow: 0px -2px 8px 1px #042c17 inset;
      background: #006632;
      color: white;
      .cell {
        color: white;
      }
      .menu-button {
        opacity: 1;
      }
    }
    .row-menu {
      position: absolute;
      z-index: 200;
      right: 0;
      display: flex;
      flex-direction: column;
      background: white;
      color: #006632;
      text-align: center;
      border-radius: 4px;
      box-shadow: 0px 0px 8px 1px #042c17;
      justify-content: center;
      align-items: center;
      span {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 100px;
        cursor: pointer;
        &:hover {
          background: #006632;
          color: white;
        }
      }
    }
  }
}
.clickmask {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -500;
  width: 0%;
  height: 0%;
  background: rgba(0, 0, 0, 0.25);
  &.active {
    width: 100%;
    height: 100%;
    z-index: 150;
  }
}
