.table {
  background: white;
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: inherit;
  width: 100%;
  transition: all 0.33s ease;
  &.has-random-actions {
    height: calc(100% - 55px);
  }
  .settings-menu,
  .row-menu {
    transition: all 0.33s ease;
    position: absolute;
    top: 20px;
    z-index: 200;
    right: 10px;
    display: flex;
    flex-direction: column;
    background: white;
    color: #006632;
    text-align: center;
    border-radius: 4px;
    box-shadow: 0px 0px 8px 1px #042c17;
    justify-content: center;
    align-items: center;
    padding-left: 0px !important;
    .menu-item {
      white-space: nowrap;
      display: flex;
      justify-content: start;
      align-items: center;
      height: 40px;
      margin: 0px 10px;
      width: 100%;
      text-indent: 15px;
      cursor: pointer;
      &:hover {
        background: #006632;
        color: white;
      }
    }
    &.showing-details {
      right: 260px;
    }
  }
  &.showing-details {
    width: calc(100% - 250px);
  }
  .rows {
    transition: all 0.33s ease;
    position: relative;
    z-index: 0;
    width: 100%;
    background: white;
    top: 70px;
    overflow: auto;
    overflow-y: overlay;
  }
  .row {
    user-select: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    min-height: 55px;
    border-bottom: 1px solid gray;
    box-shadow: 0px -2px 8px 1px lightgrey inset;
    transition: all 0.1s ease;
    .cell {
      padding: 10px;
      width: 100%;
      text-align: left;
      color: #525252;
      font-size: 14px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    div:first-child {
      padding-left: 20px;
    }
    .heading {
      cursor: pointer;
      font-size: 16px;
      color: black;
      font-weight: bold;
    }
    .search-bar {
      z-index: -1;
      position: absolute;
      font-weight: bold;
      font-size: 20px;
      right: 40px;
      padding: 20px;
      &.searching {
        z-index: 1;
        width: calc(100% - 75px);
      }
      .search-input {
        width: 0%;
        margin: 0;
        padding: 0;
        height: 0;
        border: none;
        outline: none;
        border-radius: 3px;
        background: #f1f1f1;
        box-shadow: inset #a7a7a7 -3px -3px 10px 1px;
        transition: all 0.33s ease-out;
        position: absolute;
        right: 60px;
        height: 40px;
        opacity: 0;
        top: 0px;
        &.searching {
          opacity: 1;
          padding: 0px 20px;
          border-bottom: 1px solid #006632;
          border-right: 1px solid #006632;
          width: calc(100% - 120px);
        }
      }
    }
    .search-button {
      position: absolute;
      font-weight: bold;
      font-size: 20px;
      cursor: pointer;
      right: 60px;
      z-index: 2;
    }
    .settings-button {
      position: absolute;
      font-weight: bold;
      font-size: 20px;
      cursor: pointer;
      right: 0px;
      padding: 20px;
    }
    .menu-button {
      position: absolute;
      right: 10px;
      font-weight: bold;
      font-size: 20px;
      cursor: pointer;
      padding: 10px 10px;
      opacity: 0;
      transition: all 0.33s ease;
      &.showing-details {
        right: 270px;
      }
    }
    &:hover {
      background: #ededed;
      color: #006632;
      .menu-button {
        opacity: 1;
      }
    }
    .details-button {
      cursor: pointer;
      padding: 10px 10px;
      position: absolute;
      right: 40px;
      &.showing-details {
        right: 270px;
      }
    }
    &.headings {
      transition: all 0.33s ease;
      width: 100%;
      position: absolute;
      background: white;
      box-shadow: 10px 2px 5px 5px lightgrey;
      height: 70px;
      z-index: 1;
      border-top: 1px solid gray;
      &:hover {
        background: white;
      }
      &.showing-details {
        width: calc(100% - 250px);
      }
    }
    &.selected {
      box-shadow: 0px -2px 8px 1px #042c17 inset;
      background: #006632;
      color: white;
      .cell {
        color: white;
      }
      .menu-button {
        opacity: 1;
      }
    }
  }
  .pagination-container {
    position: relative;
    bottom: -70px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 70px;
    align-items: center;
  }
}
.details {
  z-index: 2;
  overflow: auto;
  background: white;
  transition: all 0.33s ease;
  width: 0px;
  position: fixed;
  top: 64px;
  right: 0;
  height: calc(100% - 64px);
  box-shadow: none;
  .none-selected {
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 30px;
    font-size: 20px;
  }
  .detail {
    background: white;
    margin: 15px;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .key {
      font-size: 14px;
      font-weight: bold;
      margin-right: 20px;
    }
    .value {
      position: relative;
      font-size: 12px;
      right: 0px;
      text-overflow: ellipsis;
      overflow: hidden;
      color: #858585;
    }
  }
  &.showing-details {
    width: 250px;
    box-shadow: grey 0 6px 5px 5px;
  }
}
.clickmask {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -500;
  width: 0%;
  height: 0%;
  background: rgba(0, 0, 0, 0.25);
  &.active {
    width: 100%;
    height: 100%;
    z-index: 150;
  }
}
