<div class="table">
  <div class="row headings">
    <div *ngFor="let column of columns" class="cell heading">
      <span>{{ column.label }}</span>
    </div>
    <div (click)="showSettings(); rowMenu = 'settings'" class="heading settings-button">+</div>
    <div class="settings-menu" *ngIf="rowMenu === 'settings'">
      <span (click)="action(setting)" *ngFor="let setting of settings">{{setting.label}}</span>
    </div>
  </div>
  <div class="rows">
    <div
      *ngFor="let row of rows"
      class="row"
      (click)="selected = row"
      [ngClass]="selected === row ? 'selected' : ''"
    >
      <div *ngFor="let column of columns" class="cell">
        <span>{{ row[column.key] }}</span>
      </div>
      <!-- TODO: replace this menu with a dropdown component -->
      <div (click)="rowMenu = row" class="menu-button">⋮</div>
      <div class="row-menu" *ngIf="rowMenu === row">
        <span (click)="edit(row)">Edit</span>
        <span (click)="delete(row)">Delete</span>
      </div>
    </div>
  </div>
</div>
<div
  class="clickmask"
  [ngClass]="rowMenu === 'clickmask' ? '' : 'active'"
  (click)="rowMenu = 'clickmask'"
></div>
