<div
  class="table"
  [ngClass]="showingDetails ? 'showing-details' : ''"
  [ngClass]="hasActions ? 'has-random-actions' : ''"
>
  <div class="row headings" [ngClass]="showingDetails ? 'showing-details' : ''">
    <div
      (click)="sort(column)"
      *ngFor="let column of columns"
      class="cell heading"
    >
      <span>{{ column.label }}</span>
    </div>
    <div
      (click)="searching = !searching"
      class="heading search-button"
      [ngClass]="searching ? 'searching' : ''"
    >
      {{ searching ? 'X' : '🔍' }}
    </div>
    <div class="search-bar" [ngClass]="searching ? 'searching' : ''">
      <input
        (keyup)="onKey($event)"
        [ngClass]="searching ? 'searching' : ''"
        class="search-input"
        placeholder="Search"
        [(ngModel)]="query"
      />
    </div>
    <div
      (click)="rowMenu = 'settings'"
      class="heading settings-button"
      [ngClass]="showingDetails ? 'showing-details' : ''"
    >
      ⋮
    </div>
  </div>
  <div
    class="settings-menu"
    *ngIf="rowMenu === 'settings'"
    [ngClass]="showingDetails ? 'showing-details' : ''"
  >
    <div class="menu-item" (click)="new()">New {{ settings.name }}</div>
    <div class="menu-item" *ngIf="selected" (click)="edit(selected)">
      Edit {{ settings.name }}
    </div>
    <div class="menu-item" *ngIf="selected" (click)="delete(selected)">
      Delete {{ settings.name }}
    </div>
  </div>
  <div class="rows" [ngClass]="showingDetails ? 'showing-details' : ''">
    <div
      *ngFor="
        let row of rows | slice: start:start + numberOfRows.value;
        let i = index
      "
      class="row"
      (click)="selectRow(row)"
      (dblclick)="edit(row)"
      [ngClass]="selected === row ? 'selected' : ''"
    >
      <div *ngFor="let column of columns" class="cell">
        <span>{{ row[column.key] }}</span>
      </div>
    </div>
  </div>
  <div class="pagination-container">
    <app-dropdown
      [choice]="numberOfRows"
      label="Items per page"
      [options]="[
        {
          name: '10',
          value: 10
        },
        {
          name: '25',
          value: 25
        },
        {
          name: '50',
          value: 50
        }
      ]"
      key="name"
      (selectedDropdownItem)="numberOfRows = $event"
    ></app-dropdown>
    <span class="showing"
      >{{ start + 1 }} -
      {{
        start + numberOfRows.value > rows.length
          ? rows.length
          : start + numberOfRows.value
      }}
      of {{ rows.length }}</span
    >
    <div class="page-arrows">
      <span style="cursor: pointer; margin-right: 5px" (click)="pageLeft()"
        >←</span
      >
      <span style="cursor: pointer; margin-left: 5px" (click)="pageRight()"
        >→</span
      >
    </div>
  </div>
</div>
<div
  class="clickmask"
  [ngClass]="rowMenu === 'clickmask' ? '' : 'active'"
  (click)="rowMenu = 'clickmask'"
></div>
