.table {
  .row {
    user-select: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 64px;
    border: 1px solid gray;
    border-top: none;
    box-shadow: 0px -2px 8px 1px lightgrey inset;
    transition: all 0.1s ease;
    .cell {
      width: 100%;
      text-align: left;
      color: #525252;
      font-size: 14px;
    }
    :first-child {
      padding-left: 20px;
    }
    .heading {
      font-size: 16px;
      color: black;
      font-weight: bold;
    }
    .menu,
    .settings {
      font-weight: bold;
      font-size: 20px;
      cursor: pointer;
      padding: 0px 40px;
    }
    .menu {
      opacity: 0;
      transition: all 0.33s ease;
    }
    &:hover {
      .menu {
        opacity: 1;
      }
    }
    &.selected {
      box-shadow: 0px -2px 8px 1px #042c17 inset;
      background: #006632;
      color: white;
      .cell {
        color: white;
      }
      .menu {
        opacity: 1;
      }
    }
  }
}
